#app{
    display: flex;
    flex-direction: column;
}

#mainArea{
    display: flex;
    margin-top: 10px;
}

#sidebar{
    border: 1px solid black;
    min-height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 6px;
}

#content{
    border: 1px solid black;
    width: 100%;
    min-height: 100svh;
    padding: 6px;
    margin-bottom: 6px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    display: flex;
    align-items: center;
    color: red;
}


.sidebarIcons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 12px;
    color: red;
    gap: 10px;
}

#homeAvatar{
    border-radius: 50%;
}

#hamburgerbutton{
    display: flex;
    justify-content: center;   
}